.appLayout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.mapArea {
  flex: 1;
  height: 100%;
}

@media (max-width: 640px) {
  .appLayout {
    flex-direction: column;
  }

  .mapArea {
    height: 60vh;
  }
}